{%- assign product = all_products[handle] -%}{%- if product.title != blank -%}{%- if title == 'yes' -%}
<h2><a href="{{- product.url | replace: 'products/', 'pages/'-}}">{{- product.title -}}</a> - {{ product.price | money -}}</h2>{%- endif -%}
{%- if description == 'yes' -%}{{- product.description -}}{%- endif -%}
{%- form 'product', product, class:'product-form' -%}
<input type="hidden" name="id" value="{{- product.selected_or_first_available_variant.id -}}" />
<button type="submit" class="addcart hvr-float-shadow">Add to cart</button>
{%- endform -%}{%- endif -%}
